body {
	background-color: #262626;
}

#wrapper {
	font-family: 'Open Sans', sans-serif;
	height: 100vh;
}

#title {
	 text-align:center; 
	 color:white;
}
#locationform {
	text-align:center;
}
label {
	font-size: 20px;
	color: white;
}

button {
	font-family: 'Open Sans', sans-serif;
	border:	2px solid black;
	border-radius: 16px;
	background-color: white;
	font-size: 20px;
}

.controlbutton {
	display:block; 
	margin: 0 auto; 
	margin-top:20px;
	transition: all linear 1.5s;
	opacity: 1;
}
.controlbutton.ng-hide {
	opacity: 0;
}
.console {
	margin-top: 300px;
}

.heading {
	text-align: center;
	color: white;
}
.list {
	float: left;
	width: 97%;
	height: 100vh;
	overflow-y: scroll;
}
.inventory {
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all opacity 1s ease-in-out;
    transition: all 1s ease-in-out;
	float: left;
	right: 0;
	top: 0;
	z-index: 99;
	position: fixed;
	height: 100vh;
	width: 3%;
}
.inventory > div {
	height: 100vh;
	overflow-y: scroll;
}
.inventoryitem {
	width: 90%;
	margin: 0 auto;
	overflow-y: scroll;
}
.inventoryitem ul {
	padding: 0px;
}
.inventoryitem a{
	outline: none;
	text-decoration: none;
}
.venuename {
	font-size: 20px;
	text-align: center;
	color: white;
}
.playlist {
	font-size: 20px;
	color: white;
	text-align: center;
}
.playlist-items {
	text-align: left;
	cursor: pointer;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 10px;
}
.artist {
	font-size: 12px;
	display: inline-block;
	width: 64px;
	height: 64px;
    position: relative;
}

.artist:hover{
    text-decoration: none;
}
.artist::before {
    border-left: 5px solid transparent;
    border-top: 5px solid #ffe4b5;
    border-right: 5px solid transparent;
    height: 0px;
    width: 0px;
    content:'';
    top: -2px;
    left: 6px;
}
.artist::after {
    content: attr(artist-name);
    top: -25px; left: -5px;
    background: #ffe4b5;
    border-radius: 4px;
    padding: 2px 6px;
    white-space: nowrap;
    color: black;
}

.artist::after, .artist::before {
    position: absolute;
    display: none;
}
.artist:hover::after, .artist:hover::before {
    display: block;
}
.togglebutton {
	position: fixed;
	top: 50%;
}
.inventory.expanded {
	width: 90%;
	background-color: #121212;
	position: fixed;
	height: 100vh;
	top: 0;
	opacity: .95;
}
.inventorycontent {
	display: none;
	text-align: center;
}
div.inventorycontent > div.selectcontainer button {
	margin: 0px 2px 0px 2px;
}
.inventorycontent.expanded {
	margin-left: 20px;
	display: block;
	transition: all 1s linear;
}
@media only screen and (max-width: 1280px) {
}
@media only screen and (max-width: 768px) {
}
@media only screen and (max-width: 480px) {
	h2 {
		font-size: 20px;
	}
	.playlist {
		font-size: 16px;
	}
	.playlist-items {
		-webkit-padding-start: 10px;
	}
	.artist {
		width: 32px;
		height: 32px;
	}
	.list {
		width: 88%;
	}
	.inventory {
		width: 12%;
	}
	button {
		font-size: 14px;
	}
	.togglebutton {
		font-size: 8px;
	}
	.togglebutton span {
		font-size: 14px;
	}
	.togglebutton {
		margin-right: 10px;
	}
}