<div id="wrapper">
<body>
	<h1 id="title">Spotify Playlist Maker</h1>
	<div id="main">
	<form id="locationform" name="myForm">
	 	<label>
	 		<div></div>
	    	<input type="radio" ng-model="location" ng-value="'SFO'">
	    Bay Area
	  	</label>
	  	<label>
	    	<input type="radio" ng-model="location" ng-value="'ATX'">
	    Austin
	  	</label><br/>
	</form>
	<!-- <action-option></action-option> -->
		<button style="display:block; margin: 0 auto; margin-top:20px;" ng-click="getArtists()">Find Artists</button>
		<button style="display:block; margin: 0 auto; margin-top:20px;" ng-click="auth()">Login</button>
	</div>
	<playlists></playlists>
	<div class="inventory">
	<inventory></inventory>
	</div>
</div>