<div id="wrapper">
<body>
	<h1 id="title">Spotify Playlist Maker</h1>
	<div id="main">
	<form id="locationform" name="myForm">
	 	<label>
	 		<div></div>
	    	<input type="radio" ng-model="location" ng-value="'SFO'">
	    Bay Area
	  	</label>
	  	<label>
	    	<input type="radio" ng-model="location" ng-value="'ATX'">
	    Austin
	  	</label><br/>
	</form>
		<button class="controlbutton" ng-click="getArtists()">Find Playlists</button>
		<button ng-show="showLogin()" class="controlbutton" ng-click="auth()">Login to Spotify</button>
	</div>
	<playlists></playlists>
	<inventory ng-class="{'expanded': isExpanded}"class="inventory"></inventory>
</div>