doctype html
html(ng-app="myApp")
  head
    title
        | Spotify Playlist Maker
        block title
    meta(charset='utf8')
    meta(name='author' content='Brian Chan')
    meta(name='description' content='Make Spotify Playlists')
    meta(name='viewport' content="width=device-width, initial-scale=1, user-scalable=no")
    base(href='/')
    link(rel='stylesheet' href='public/components/bootstrap/dist/css/bootstrap.min.css')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css')
    link(rel='stylesheet' href='dist/css/styles.min.css')
  body
    block bodystuff
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-cookies.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    script(src='public/components/angular-bootstrap/ui-bootstrap.min.js')
    script(src='public/components/angular-bootstrap/ui-bootstrap-tpls.min.js')
    script(src='public/components/angular-google-analytics/dist/angular-google-analytics.min.js')
    script(src='dist/js/appRoutes.min.js')
    script(src='dist/js/app.min.js')
    script(src='dist/js/MainCtrl.min.js')
    script(src='dist/js/ShowlistService.min.js')
    script(src='dist/js/directives.min.js')