doctype html
html
  head
    title
        | Spotify Playlist Maker
        block title
    meta(charset='utf8')
    meta(name='author' content='Brian Chan')
    meta(name='description' content='Make Spotify Playlists')
    meta(name='viewport' content="width=device-width, initial-scale=1, user-scalable=no")
    base(href='/')
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css')
    link(rel='stylesheet' href='build/assets/css/styles.min.css')
  body
    block bodystuff
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    script(src="https://unpkg.com/react@16/umd/react.production.min.js")
    script(src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js")
    script(src='/build/assets/js/0.bundle.js')
    script(src='/build/assets/js/2.bundle.js')
    script(src='/build/assets/js/3.bundle.js')
    script(src='/build/assets/js/4.bundle.js')
    script(src='/build/assets/js/5.bundle.js')
    script(src='/build/assets/js/6.bundle.js')
    script(src='/build/assets/js/main.bundle.js')